$ratio: 300 / 10;

@function px2rem($px) {
    @return $px / $ratio + rem;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin columnLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin ellipsis2($line) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    white-space: normal;
    word-break: break-all;
    -webkit-box-orient: vertical;
  }