@import './mixin.scss';

// 默认颜色
$c-black:#000; 
$cs-black:#333;
$c-gray:#919191; 
$cs-gray:rgba(145, 145, 145, .5); 
$bd-gray:rgba(145, 145, 145, .2);
$c-green:#3bb149; 
$cs-green:rgba(59, 177, 73, 0.7); 
// $cs-green:rgba(59, 177, 73, .7); 
$c-red:#f01414; 
$c-blue:#068bfb;
$c-white:#fff; 
$bg-color:#eee; 

// 默认字体大小
$text-large: px2rem(65);
$text-big: px2rem(55);
$text-medium: px2rem(45);
$text-small: px2rem(35);
$text-tiny: px2rem(25);

$max-w:1260px;

$border:1px solid $bd-gray;
.t-green{
    font-size: $text-small;
    color: $c-green;
}
.t-gray{
    font-size: $text-small;
    color: $c-gray;
}
// 标题大小
.title-large {
    font-size: $text-large;
    color: #000;
    font-weight: bold;
    @include ellipsis2(3);
}
.title-big {
    font-size: $text-big;
    color: #000;
    font-weight: bold;
    @include ellipsis2(3);
}
.title-medium {
    font-size: $text-medium;
    color: #000;
    font-weight: bold;
    @include ellipsis2(3);
}
.title-small {
    font-size: $text-small;
    color: #000;
    font-weight: bold;
    @include ellipsis2(2);
}

.sub-title-medium {
    font-size: $text-medium;
    color: #666;
    @include ellipsis2(2);
}
.sub-title {
    font-size: $text-small;
    color: #666;
    @include ellipsis2(1);
}
.sub-title-tiny {
    font-size: $text-tiny;
    color: #666;
    @include ellipsis2(1);
}
.third-title {
    font-size: $text-small;
    color: #999;
    @include ellipsis2(1);
}
.third-title-tiny {
    font-size: $text-tiny;
    color: #999;
    @include ellipsis2(1);
}
.hv-font-green{
    cursor: pointer !important;
    &:hover{
        color: $c-green !important;
    }
}
.hv-bg-green{
    cursor: pointer;
    &:hover{
        background-color: $c-green !important;
    }
    &:hover a{
        color: $c-white !important;
    }
}
.hv-font-red{
    cursor: pointer;
    &:hover span{
        color: $c-red !important;
    }
}
.header-white{
    border-bottom: 2px solid $c-green;
    background-color: $c-white;
    a,span:not(.slogan-b){
        color: $c-black;
    }
}
.header-black{
    background-color: #282d30 !important;
    a,span:not(.slogan-b){
        color: $c-white !important;
    }
}